<%- include('../additionals/header'); -%>


    <body class="gray-bg">
        <%- include('../additionals/adminDashNav'); -%>


        <div class="login align-items-center justify-content-center container" style="padding-top: 260px;max-width: 400px;">
            
            <form method="POST" action="admin_change_session_POST">
                <div class="form-group "  class="container" style="justify-content: center;">
                    <label for="exampleInputEmail1">Current Session</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="current_session"
                        placeholder="Voting" readonly="readonly" value="<%= session %>"><br>
                  
                   
                    <button type="submit" class="btn btn-primary" style="margin-left:130px;">Change</button>

                    </div>
            </form>
        </div>
        </div>




        <%- include('../additionals/footer'); -%>