<!-- The header part -->
<%- include('../additionals/header'); -%>

<!-- the body -->
<body class="gray-bg">
    <%- include('../additionals/navBar'); -%>

    <div class="text-content text-center loginscreen animated fadeInDown">
        <div>
            <h1 style="font-size:15vw;">TANZANIA</h1>
            <h2 style="font-size:5vw"> General Election<span> 2023</span></h2>
        </div>
    </div>


<form  method="POST" action="/admin_sign_Page" >
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <button id="NIDAnumber" class="btn btn-primary block full-width m-b" >Admin Login</button>
    </div>    
</form>



   



    <div class="footer">
        <ul class="class   copy-right">
            <div>
              <p align="center">Transparency and Harmony</p>
            </div>
            
           
        </ul>
        
    </div>





<!-- the body -->


<!-- The footer part -->
<%- include('../additionals/footer'); -%>