<%- include('../additionals/header'); -%>


    <body class="gray-bg">
        <%- include('../additionals/adminDashNav'); -%>
       <br><br>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <p style="font-size: 32px; text-align: center;  animation: fadeIn 2s ease-in-out;">Tanzania General Election 2023.</p>
      </div>
    
      <style>
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      </style>
      


        <%- include('../additionals/footer'); -%>