<body class="gray-bg">
    <!--navbar-->
    <div class="nav-area fixed-top is-sticky">
        <div class="navbar-area">
            <div class="main-nav">
                <nav class="navbar navbar-expand-md">
                    <div class="container">
                        <a class="navbar-brand logo-1" href="index.html">
                            <img src="img/nec-logo.png" alt="Logo">
                        </a>
                        <div class="mean-push"></div>
                                    <a href="" class="nav-link"><b>NEWS</b></a>
                                    <a href="Result.html" class="nav-link"><b>RESULT</b></a>
                                    <a href="About.html" class="nav-link"><b>ABOUT</b></a>
                                    <a href="" class="nav-link"><b>CONTACTS</b></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--end navbar-->