<%- include('header'); -%>
<%- include('navBar'); -%>

        <div class="text-content text-center loginscreen animated fadeInDown">
            <div>
                <h1 style="font-size:15vw;">TANZANIA</h1>
                <h2 style="font-size:5vw"> General Election<span> 2023</span></h2>
            </div>
        </div>



        <form  method="POST" action="/user_Enter_NIDA" class="middle-box text-center loginscreen animated fadeInDown" >
            <div class="middle-box text-center loginscreen animated fadeInDown">
                <button id="NIDAnumber" class="btn btn-primary block full-width m-b" >Enter NIDA number to vote</button>
            </div>    
        </form>

        <!-- <div class="middle-box text-center loginscreen animated fadeInDown">
            <button id="NIDAnumber" class="btn btn-primary block full-width m-b" onclick="window.location.href='app.html'">Enter NIDA number to vote</button>
        </div> -->



        <div class="footer">
            <ul class="class   copy-right">
                <div>
                  <p align="center">Transparency and Harmony</p>
                </div>
                
               
            </ul>
            
        </div>

        <%- include('footer'); -%>