    <!--navbar-->
    <div class="nav-area fixed-top is-sticky">
        <div class="navbar-area">
            <div class="main-nav">
                <nav class="navbar navbar-expand-md">
                    <div class="container">
                        <a class="navbar-brand logo-1" href="index.html">
                            <img src="img/nec-logo.png" alt="Logo">
                        </a>
                        <div class="mean-push"></div>
                        <div class="p-5 text-center bg-light">
                            <h1 class="mb-3" style="color:#c65409"><b></b></h1>
                          </div style="padding-top:53px">
                                    <a href="admin_add_voters" class="nav-link"><b>Register Voters</b></a>
                                    <a href="admin_add_candidates" class="nav-link"><b>Register Candidates</b></a>
                                    <a href="admin_change_session" class="nav-link"><b>Manage Session</b></a>
                                    <a href="admin_logout" class="nav-link"><b>Logout</b></a>

                                
                                 
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--end navbar-->