<body class="gray-bg">
    <!--navbar-->
    <div class="nav-area fixed-top is-sticky">
        <div class="navbar-area">
            <div class="main-nav">
                <nav class="navbar navbar-expand-md">
                    <div class="container">
                        <a class="navbar-brand logo-1" href="index.html">
                            <img src="img/nec-logo.png" alt="Logo">
                        </a>
                        <div class="mean-push"></div>
                                    <a href="" class="nav-link"><b>NEWS</b></a>
                                    <a href="Result.html" class="nav-link"><b>RESULT</b></a>
                                    <a href="About.html" class="nav-link"><b>ABOUT</b></a>
                                    <a href="" class="nav-link"><b>CONTACTS</b></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--end navbar-->

    <div class="text-content text-center loginscreen animated fadeInDown">
        <div>
            <h1 style="font-size:15vw;">TANZANIA</h1>
            <h2 style="font-size:5vw"> General Election<span> 2023</span></h2>
        </div>
    </div>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <button id="NIDAnumber" class="btn btn-primary block full-width m-b" onclick="window.location.href='app.html'">Enter NIDA number to vote</button>
    </div>



    <div class="footer">
        <ul class="class   copy-right">
            <div>
              <p align="center">Transparency and Harmony</p>
            </div>
            
           
        </ul>
        
    </div>
